@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>College Road Swimming Club</h1>
    @Html.ActionLink("Upcoming Swimming Meets", "Index", "SwimmingMeet", null, new { @class = "btn btn-primary btn-lg" })
</div>

<body style="        
        background-image: url('../../Content/Image/SwimmingPool.jpg');
        background-repeat: no-repeat;
        background-size: cover;">
</body>