@model CollegeRoadApplication.Models.SwimmingMeet

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you what to delete this swimming meet? </h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <ul>
        <li>@Html.DisplayNameFor(m => m.Name) : @Html.DisplayFor(m => m.Name)</li>
    </ul>

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        @Html.ActionLink("Back to List", "Index")
    </div>
}