@model IEnumerable<CollegeRoadApplication.Models.ApplicationUser>

@{
    ViewBag.Title = "Swimmers";
}

<h2>All Swimmers</h2>

<br />
<div class="row">
    <div class="col-sm-12">
        <div class="form-inline pull-right">
            <label>Search</label>
            <input type="text" class="form-control" id="txtSearch" placeholder="By Age Or Name" />
            <br />
        </div>
    </div>
</div>

@if (!Model.Any())
{
    <hr />
    <p>No Members have been added</p>
}
else
{
    <br />
    <div id="grdSwimmer"></div>
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(() => {
        getMemebers();

        $('#txtSearch').on('keyup', () => {
            getMemebers();
        });
    });

    function getMemebers() {
        $.ajax({
            url: '@Url.Action("SearchSwimmer", "Member")',
            datatype: 'html',
            method: 'GET',
            data: { searchText: $('#txtSearch').val() },
            success: function (res) {
                $('#grdSwimmer').html('').html(res);
            },
            error: function (err) {
                console.log(err);
            }
        })
    }
</script>

