@model IEnumerable<CollegeRoadApplication.Models.SwimmingEvent>

@{
    ViewBag.Title = "Index";
}

<h2>All Swimming Events</h2>

<br />
<div class="row">
    <div class="col-sm-12">
        @if (this.User.IsInRole("Admin") || this.User.IsInRole("SCO"))
        {
            @Html.ActionLink("New Event", "New", "SwimmingEvent", null, new { @class = "btn btn-primary" })
        }

        <div class="form-inline pull-right">
            <label>Search</label>
            <input type="text" class="form-control" id="txtSearchDistance" placeholder="By Distance" />
            <input type="text" class="form-control" id="txtSearchStroke" placeholder="By Stroke" />
            <input type="text" class="form-control" id="txtSearchAge" placeholder="By Age" />
            <input type="text" class="form-control" id="txtSearchGender" placeholder="By Gender" />
            <br />
        </div>
    </div>
</div>
<hr />

@if (!Model.Any())
{
    <p>
        No Events have been added yet!
    </p>
}
else
{
    <br />
    <div id="grdEvent"></div>
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>

    $(() => {
        getEvent();

        $('#txtSearchDistance').on('keyup', () => {
            getEvent();
        });

        $('#txtSearchAge').on('keyup', () => {
            getEvent();
        });

        $('#txtSearchGender').on('keyup', () => {
            getEvent();
        });

        $('#txtSearchStroke').on('keyup', () => {
            getEvent();
        });
    });

    function getEvent() {
        $.ajax({
            url: '@Url.Action("SearchEvent", "SwimmingEvent")',
            datatype: 'html',
            method: 'GET',
            data: {
                distance: $('#txtSearchDistance').val(),
                age: $('#txtSearchAge').val(),
                gender: $('#txtSearchGender').val(),
                stroke: $('#txtSearchStroke').val()
            },
            success: function (res) {
                $('#grdEvent').html('').html(res);
            },
            error: function (err) {
                console.log(err);
            }
        })
    }
</script>